* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #191919;
  --ff-color: #e3e2e2;
  --ff-red: #ef4444;
  --ff-grey1: #f9fafb;
  --ff-grey2: #f3f4f6;
  --ff-grey3: #d1d5db;
  --ff-grey4: #4b5563;
  --transition: all 0.3s ease;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.bcg-contact {
  width: 100%;
  height: calc(50vw);
  max-height: 71vh;
  background-image: url("../assets/images/Banniere-BamaLoc-Contact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  filter: blur(3px);
}

.grecaptcha-badge {
  visibility: hidden;
}
