* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #191919;
  --ff-color: #e3e2e2;
  --ff-red: #ef4444;
  --ff-grey1: #f9fafb;
  --ff-grey2: #f3f4f6;
  --ff-grey3: #d1d5db;
  --ff-grey4: #4b5563;
  --transition: all 0.3s ease;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 15rem;
  padding: 0 20rem;
  background-color: var(--navbar-color);
}

.flex-logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 2rem;
}

.flex-logo-footer a {
  text-decoration: none;
  color: var(--ff-color);
}

.logo-footer {
  width: 320px;
  height: 75px;
  object-fit: cover;
}

.logo-footer-rs {
  width: 20px;
}

.a-footer-rs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 0.75rem;
}

.span-footer {
  margin-inline-start: 0.5rem;
}

.span-footer:hover {
  transform: translateX(5px);
  color: var(--ff-red);
  transition: var(--transition);
}

.flex-logo-footer-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.a-footer-rs-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-footer:hover {
  color: var(--ff-red);
  transform: scale(1.05);
  box-shadow: var(--shadow-sm);
}

.flex-logo-footer-2 h3 {
  transition: transform 0.3s ease, color 0.3s ease;
}

.flex-logo-footer-2 h3:hover {
  transform: translateX(5px);
  color: var(--ff-red);
}

.flex-logo-footer-2 a {
  text-decoration: none;
  color: var(--ff-color);
}

.flex-logo-footer-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-block-start: 2rem;
}

.flex-logo-footer-3 a {
  margin-block-end: 0.5rem;
  text-decoration: none;
  color: var(--ff-color);
}

.flex-logo-footer-3 p:hover {
  transform: translateX(5px);
  color: var(--ff-red);
  transition: var(--transition);
}
