* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #191919;
  --ff-color: #e3e2e2;
  --ff-red: #ef4444;
  --ff-grey1: #f9fafb;
  --ff-grey2: #f3f4f6;
  --ff-grey3: #d1d5db;
  --ff-grey4: #4b5563;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
  height: 5rem;
  position: relative;
  position: sticky;
  top: 0;
}

.navbar,
.info-number {
  z-index: 100;
}

.info-number {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--ff-red);
  height: 1.5rem;
  position: sticky;
  top: 0;
}

.slash {
  margin-inline-start: 1rem;
}

.number {
  margin-inline-start: 6.4rem;
  color: var(--ff-color);
  font-size: 0.75em;
  color: var(--ff-color);
}

.mail {
  font-size: 0.75em;
  margin-inline-start: 1rem;
}

.mail-logo {
  filter: invert(1);
  width: 1.5em;
}

.flex-infos {
  display: flex;
  align-items: center;
}

.p-question {
  font-weight: bold;
  font-size: 1.1em;
  margin-inline-end: 0.5rem;
}

.flex-mail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0rem 5rem;
}

.navlink {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navlink ul {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.navlink ul li {
  list-style: none;
}

.active-btn {
  color: var(--ff-color);
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
}

.inactive-btn {
  color: var(--ff-color);
  text-decoration: none;
}

.logo-home {
  width: 175px;
  margin-block-start: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact a {
  color: var(--ff-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone {
  margin-inline-end: 0.2rem;
  width: 1.5em;
  filter: invert(1);
}

.btn-contact {
  background-color: var(--ff-red);
  border: transparent;
  color: var(--ff-color);
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
